[submodule "C++/CppExercises/extern/googletest"]
	path = C++/CppExercises/extern/googletest
	url = https://github.com/google/googletest.git
[submodule "C++/CppExercises/extern/doxygen-awesome-css"]
	path = C++/CppExercises/extern/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
